<header class = "header">
    <a href = "/" class = "header_logo"> RadComics </a>
    
    <nav class = "header_nav">
        <ul>
            <li>
                <a href = "/post" class = ""> Create </a>
            </li>
            <li>
                <a href = "/get" class = ""> Get </a>
            </li>
            <li>
                <a href = "/update" class = ""> Update </a>
            </li>
            <li>
                <a href = "/delete" class = ""> Delete </a>
            </li>
        </ul>    
    </nav>
</header>