<header class = "header">
    <a href = "/logedin/homepage" class = "header_logo"> RadComics </a>
    
    <nav class = "header_nav">
        <ul>
            <li> <a href = "../logedin/collections" class = ""> Collections </a> </li>
            <li> <a href = "../logedin/authors" class = ""> Authors </a> </li>
        </ul>    
    </nav>

    <div> 
        <button id="logoutBtn"> Logout </button>
    </div>    
</header>
<script>
    document.getElementById('logoutBtn').addEventListener('click', function() {
    fetch('/logout', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Clear any user data
            localStorage.removeItem('user');
            window.location.href = '/';
        } else {
            console.error('Logout failed');
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});

</script>
