<header class = "header">
    <a href = "/" class = "header_logo"> RadComics </a>
    
    <nav class = "header_nav">
        <ul>
            <li> <a href = "/collections" class = ""> Collections </a> </li>
            <li> <a href = "/users" class = ""> Users </a> </li>
            <li> <a href = "/authors" class = ""> Authors </a> </li>
        </ul>    
    </nav>
</header>