<header class = "header">
    <a href = "/logedin/homepage" class = "header_logo"> RadComics </a>
    
    <nav class = "header_nav">
        <ul>
            <li> <a href = "../logedin/collections" class = ""> Collections </a> </li>
            <li> <a href = "../logedin/authors" class = ""> Authors </a> </li>
        </ul>    
    </nav>

    <div> 
        <button> Logout </button>
    </div>
</header>