<div>
    <h2> Authors </h2>

    <ul>
        <% data.forEach(authors => { %>
            <li>
                <a href = "/bio/<%= authors._id %>">
                    <span> <%= authors.Name %> <%= authors.Last_Name %> </span>
                </a>
            </li>
        <% }) %>
    </ul>
</div>