<display>
    <title> <%= locals.title %> </title>

    <h2> Search </h2>

    <form action = "/result" method = "POST" role = "search">
        <input type = "search" id = "searchInput" name = "searchBar" placeholder = "What are you looking for?">
    </form>
    
    <h2> Data </h2>

    <ul>
        <% data.forEach(titles => { %>
        <li>
            <a href = "/description/<%= titles._id %>">
                <span> <%= titles.Name %> </span>
            </a>
        </li>
        <% }) %>
    </ul>
</display>