<div>
    <h2> Authors </h2>

    <div class = 'container'>
        <ul>
            <% data.forEach(authors => { %>
                <li>
                    <span> <a href = "../logedin/bio/<%= authors._id %>"> <%= authors.Name %> <%= authors.Last_Name %> </a> </span>
                </li>
            <% }) %>
        </ul>
    </div>
</div>