<div>
    <h2> Search Results SIGNED IN</h2>
    
    <div class = "container">
        <ul>
            <% data.forEach(titles => { %>
                <li>
                    <a href = "../logedin/description/<%= titles._id %>">
                        <span> <%= titles.Name %></span>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>